

header {
    /* START ---- TO CREATE FIXED POSITION */
        /* background-color: #ffffff;
        position: fixed;
        top:0;
        left:0;
        width: 100%; */
    /* END ---- TO CREATE FIXED POSITION */

    /* START ---- TO CREATE STICKY POSITION */
        position: sticky;
        background-color: #ffffff;
        top: 0;
    /* END ---- TO CREATE STICKY POSITION */
    
    border-bottom: 1px solid #ddd;
    z-index: 2;
    
    height: 80px;
}

.header-nav{
    position: relative;
}

.brand-logo_img{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 40px;
    z-index: 1;
}

nav{
    height: 80px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    height: 100%;
}

nav .menu .navigation-link{    
    margin-top: 0;
    width: 150px;
    padding: 0 30px;
}

nav .menu .navigation-link a{ 
    font-size: 16px;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #436e89;  
    font-family: "Oswald", sans-serif; 
}

nav .menu .navigation-link a:hover{ 
    font-weight: 500; 
    color: #002B45;     
}

.header-actions{
    position: absolute;
    top: 0;
    right: 40px;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-actions .header-icons{
    font-size: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}


.subnav-container{
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 0;
    width: 100vw;
    
    text-align: center;

    display: none;
    

    
}

.subnav-container.active{
    display: block;
}



.subnav-items{
    display: flex;
    height: 4.375rem;
    line-height: 4.375rem;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    list-style-type: none;
}

.subnav-items .subnav-items-link{
    text-align: center;
    background: #fff;
    line-height: calc(4.375rem - 1px);
    padding: 0 16px;
    font-size: .875rem;
    letter-spacing: .035rem;
    color: #436e89;
    text-transform: uppercase;

}

.subnav-items .subnav-items-link .subnav-items-link_a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}

.subnav-items .subnav-items-link .subnav-items-link_a:hover{
    font-weight: 400;

}

/* MOBILE */

.mobile-header_container{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;

    position: absolute;
    top: 0;
    z-index: 3;

    transform: translateY(-100%); 
    overflow: hidden;
    transition: transform .5s ease-in-out;
}



.mobile-header_container.active {
    transform: translateY(0);
    transition: transform .5s ease-in-out;
}

.mobile-header-nav-menu--btn{
    position: absolute;
    right: 20px;
    margin-top: 20px;
}

.mobile-header-nav-menu--close-btn{
    font-size: 25px;
}

.mobile-header-nav-menu__menu-links{
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
}

.mobile-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-navigation-link{
    font-size: 16px;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #436e89;  
    font-family: "Oswald", sans-serif; 
}

.mobile-navigation-link:hover{
    font-weight: 500; 
    color: #002B45; 
}

.mobile-subnav-items{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.mobile-subnav-container{
    position: absolute;
    top: 130px;
    bottom: 180px;
    left: 0;
    width: 100vw;
    overflow-y: auto;
    
    text-align: left;

    display: none;
    
    height: 100%;
    background-color: #f1f1f1;
    
    padding: 25px 30px;
    /* border-bottom: 1px solid #ddd; */
}

/* .mobile-subnav-container li:last-of-type {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
} */

.mobile-subnav-container.active{
    display: block;
}

.mobile-subnav-container .mobile-subnav-items-link_a{
    text-align: left;
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: .055rem;
    text-transform: uppercase;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    color: #002b45;
}

.mobile-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 25px 35px;
    background-color: #f1f1f1;
    
    z-index: 1;
}

.nav-account-list{
    border-top: 1px solid #ddd;
    padding-top: 25px;
}

.footer-account-icon{
    font-size: 20px;
    margin-right: 10px;


}

.nav-account-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.nav-account-list li p{
    font-size: 1rem;
    color: #002b45;
    text-decoration: none;
    letter-spacing: .08px;
    padding-left: 0;
}




.mobile-nav-menu-btn {
    display: none;
}

@media (max-width: 600px){
    nav{
        display: none;
    }

    .header-nav{
        position: static;
    }


    .brand-logo_img{
        width: 89px;
        left: 20px;
    }

    .brand-logo_img img{
        width: 100%;
        object-fit: fill;
        
    }

    .header-actions{
        right: 20px;
        gap: 20px;
    }

    .mobile-nav-menu-btn {
        display: block;
    }

    
}