

header {
    /* START ---- TO CREATE FIXED POSITION */
        /* background-color: #ffffff;
        position: fixed;
        top:0;
        left:0;
        width: 100%; */
    /* END ---- TO CREATE FIXED POSITION */

    /* START ---- TO CREATE STICKY POSITION */
        /* position: sticky;
        background-color: #ffffff;
        top: 0; */
    /* END ---- TO CREATE STICKY POSITION */
    
    border-bottom: 1px solid #ddd;
    z-index: 2;
    position: relative;
    height: 80px;
}

.brand-logo_img{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 40px;
    z-index: 1;
}

nav{
    height: 80px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    height: 100%;
}

nav .menu li{    
    margin-top: 0;
    width: 150px;
    padding: 0 30px;
}

nav .menu li a{ 
    font-size: 16px;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #436e89;  
    font-family: "Oswald", sans-serif; 
}

nav .menu li a:hover{ 
    font-weight: bold; 
    color: #002B45;     
}

.header-actions{
    position: absolute;
    top: 0;
    right: 40px;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-actions .account-link{
    font-size: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}