*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    overflow: hidden;
}


header {
    /* START ---- TO CREATE FIXED POSITION */
        /* background-color: #ffffff;
        position: fixed;
        top:0;
        left:0;
        width: 100%; */
    /* END ---- TO CREATE FIXED POSITION */

    /* START ---- TO CREATE STICKY POSITION */
        /* position: sticky;
        background-color: #ffffff;
        top: 0; */
    /* END ---- TO CREATE STICKY POSITION */
    
    border-bottom: 1px solid #ddd;
    z-index: 2;
    position: relative;
    height: 80px;
}

nav{
    height: 80px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo_img{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 40px;
    z-index: 1;
}

/* nav .brand-logo_text {   
    height: 100%;    
} */
/* nav .brand-logo_text a{
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

nav .menu {
    display: flex;
    height: 100%;
}

nav .menu li{    
    margin-top: 0;
    /* width: 100px; */
    padding: 0 30px;
}

nav .menu li a{ 
    font-size: 16px;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #436e89;   
}

nav .menu li a:hover{ 
    font-weight: bold; 
    color: #002B45;     
}

.header-actions{
    position: absolute;
    top: 0;
    right: 40px;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav .right-side-nav{
    display: flex;
    gap: 1rem;

    
    
}

nav .right-side-nav .search-btn{
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

nav .right-side-nav .account-link{
    font-size: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------- START OF MOBILE NAV -------- */
nav .right-side-nav_mobile{
    display: none;
    gap: 1rem;
}

nav .right-side-nav_mobile .search-btn{
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

nav .right-side-nav_mobile .open-mobile-menu-btn{
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* START OF SLIDE ANIMATION */
.mobile-nav_container{
    transform: translateX(100%); 
    transition: transform .5s ease-in-out;
    
    overflow: hidden;          
}

.mobile-nav_container.active {
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}
/* END OF SLIDE ANIMATION */



.mobile-nav_container{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;

    position: absolute;
    top: 0;
    z-index: 3;    
}

.mobile-nav {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.mobile-nav_container .mobile-nav_header{
    height: 60px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav_container .mobile-nav_header .brand-logo_text{
    height: 100%;
}

.mobile-nav_container .mobile-nav_header .brand-logo_text a {
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav_container .mobile-nav_header .close-mobile-menu-btn{
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 10px 0 10px 10px;
    cursor: pointer;
}

.mobile-nav_menu{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mobile-nav_menu li{
    height: 60px;
    margin-bottom: 10px;
}

.mobile-nav_menu li a {
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
}

.mobile-nav_menu li a:hover {
    font-weight: bold; 
}
/* --------- END OF MOBILE NAV -------- */


@media (max-width: 600px) {

    nav .menu {
        display: none;
    }

    nav .right-side-nav{
        display: none;
    }

    nav .right-side-nav_mobile{
        display: flex;
    }
}